In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [2]:
filename = 'P00000001-ALL_2016.csv'
filename2 = 'P00000001-ALL_2012.csv'
#filename = 'small.csv'
df1 = pd.read_csv(filename, index_col=False, dtype=object)
df2 = pd.read_csv(filename2, index_col=False, dtype=object)

#df = df1
df = pd.concat([df1, df2])

In [22]:
df[df['cand_nm'] == 'Sanders, Bernard'].groupby('cmte_id').count()

,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
cmte_id,,,,,,,,,,,,,,,,,
C00577130,1895039,1895039,1895039,1895037,1895039,1895029,1859652,1882669,1895039,1895039,13244,15430,1807566,1895039,1895039,1895039,1895036

In [3]:
df.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00458844,P60006723,"Rubio, Marco","BLUM, MAUREEN",WASHINGTON,20,DC,STRATEGIC COALITIONS & INITIATIVES LL,OUTREACH DIRECTOR,175,15-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1152124,P2016
1,C00458844,P60006723,"Rubio, Marco","DODSON, MARK B. MR.",ATLANTA,30,GA,MORTGAGE CAPITAL ADVISORS,PRIVATE MORTGAGE BANKING,25,16-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153048,P2016
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,090960009,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,097520002,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,097770241,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016

In [4]:
#name_zip_empl = df[['contbr_nm', 'contbr_zip', 'contbr_employer']]
name_zip_empl = df
name_zip_empl.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00458844,P60006723,"Rubio, Marco","BLUM, MAUREEN",WASHINGTON,20,DC,STRATEGIC COALITIONS & INITIATIVES LL,OUTREACH DIRECTOR,175,15-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1152124,P2016
1,C00458844,P60006723,"Rubio, Marco","DODSON, MARK B. MR.",ATLANTA,30,GA,MORTGAGE CAPITAL ADVISORS,PRIVATE MORTGAGE BANKING,25,16-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153048,P2016
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,090960009,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,097520002,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,097770241,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016

In [24]:
name_zip_empl[name_zip_empl['cand_nm'] == 'Clinton, Hillary Rodham']['contb_receipt_amt'].astype(float).sum()

198192488.429989

In [6]:
name_zip_empl = name_zip_empl[name_zip_empl['contbr_zip'].notnull()]
name_clzip_empl = name_zip_empl.copy()
name_clzip_empl.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00458844,P60006723,"Rubio, Marco","BLUM, MAUREEN",WASHINGTON,20,DC,STRATEGIC COALITIONS & INITIATIVES LL,OUTREACH DIRECTOR,175,15-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1152124,P2016
1,C00458844,P60006723,"Rubio, Marco","DODSON, MARK B. MR.",ATLANTA,30,GA,MORTGAGE CAPITAL ADVISORS,PRIVATE MORTGAGE BANKING,25,16-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153048,P2016
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,090960009,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,097520002,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,097770241,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016

In [7]:
select  = name_clzip_empl.apply(lambda r : r['contbr_zip'].isdigit(), axis=1)

name_zip_empl_digit_zip = name_clzip_empl[select]                                                                                                                          
name_zip_empl_digit_zip.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,090960009,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,097520002,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,097770241,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016
5,C00458844,P60006723,"Rubio, Marco","RECKER, ANGELA",APO,AE,00138,GOVERNMENT,ATTORNEY,388.25,18-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153167,P2016
6,C00458844,P60006723,"Rubio, Marco","RECKER, ANGELA",APO,AE,090120060,GOVERNMENT,ATTORNEY,500,09-FEB-16,NaN,NaN,NaN,SA17A,1056862,SA17.1002064,P2016

In [8]:
name_zip_empl_digit_zip.shape

(9837521, 18)

In [9]:
df.shape

(9838802, 18)

In [10]:
trimmed_zip = name_zip_empl_digit_zip.copy()
trimmed_zip['contbr_zip'] = trimmed_zip['contbr_zip'].map(lambda z : z[:5] if len(z) > 5 else z)
trimmed_zip.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
2,C00458844,P60006723,"Rubio, Marco","RUCINSKI, ROBERT",APO,AE,09096,US ARMY,PHYSICIAN,100,08-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074981,P2016
3,C00458844,P60006723,"Rubio, Marco","DOHERTY, THERESA",APO,AE,09752,DODEA/DS,TEACHER,500,26-JUN-15,NaN,NaN,NaN,SA17A,1029436,SA17.769700,P2016
4,C00458844,P60006723,"Rubio, Marco","MARQUEZ, PANFILO",DPO,AE,09777,DEPARTMENT OF STATE,FOREIGN SERVICE OFFICER,100,07-MAR-16,NaN,NaN,NaN,SA17A,1066300,SA17.1074238,P2016
5,C00458844,P60006723,"Rubio, Marco","RECKER, ANGELA",APO,AE,00138,GOVERNMENT,ATTORNEY,388.25,18-MAR-16,NaN,NaN,DEBT RETIREMENT,SA17A,1066300,SA17.1153167,P2016
6,C00458844,P60006723,"Rubio, Marco","RECKER, ANGELA",APO,AE,09012,GOVERNMENT,ATTORNEY,500,09-FEB-16,NaN,NaN,NaN,SA17A,1056862,SA17.1002064,P2016

In [11]:
grouped_by_employer = trimmed_zip.groupby(['contbr_nm', 'contbr_zip'])['contbr_employer'].nunique().reset_index()
grouped_by_employer.head()

/Users/bohdan/anaconda/lib/python2.7/site-packages/pandas/core/groupby.py:2854: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  inc = np.r_[1, val[1:] != val[:-1]]

                  contbr_nm contbr_zip  contbr_employer
0     BANAKA, SHARON RUEGER      97006                1
1      CHOUDHURY, SUMAN ROY      07922                1
2   COLEMAN, MARVA N. BELEW      46408                1
3      CONARE, PURNA RODMAN      02829                1
4            FOY, ANDREW J.      77302                1

In [12]:
select  = grouped_by_employer.apply(lambda r : r['contbr_employer'] >= 2, axis=1)
grouped_by_employer[select].shape

(249514, 3)

In [13]:
df.shape

(9838802, 18)

In [14]:
grouped_by_cand = trimmed_zip.groupby(['contbr_nm', 'contbr_zip'])['cand_nm'].nunique().reset_index()

In [15]:
gr_by_nm = trimmed_zip.groupby(['contbr_nm', 'contbr_zip'])

In [16]:
unique_ppl = gr_by_nm.count().shape[0]

In [17]:
select  = grouped_by_cand.apply(lambda r : r['cand_nm'] >= 2, axis=1)
switched = grouped_by_cand[select]
switched.head()

                 contbr_nm contbr_zip  cand_nm
81               AAB, LISA      48532        2
94            AABY, TRYGVE      78733        2
104  AAES-JORGENSEN, HELLE      99203        2
119           AAKER, DAVID      94563        4
147  AALIM-JOHNSON, JAMEEL      20706        2

In [18]:
float(switched.shape[0]) / unique_ppl * 100

5.394627988501301

In [19]:
switched.loc[switched['contbr_nm'] == 'WOODWARD, MARIE JOSE']

                    contbr_nm contbr_zip  cand_nm
1982064  WOODWARD, MARIE JOSE      22902        2